.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}


.alumni-sans-pinstripe-regular {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.alumni-sans-pinstripe-regular-italic {
  font-family: "Alumni Sans Pinstripe", sans-serif;
  font-weight: 400;
  font-style: italic;
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

#pagina-inicial {
    padding: 0;
}

section {
    padding: 100px 20px;
}

/*  HEADER  */
.menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 40px;
}

.menu h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: roboto;
    font-size: 20px;
    letter-spacing: 4px;
}

.menu h2 a {
    color: white;
    text-decoration: none;
}

.linha { 
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, gray, transparent);
    top: 70px;
    position: absolute;
    left: 0;
}

header {
    background-color: black;
    height: 70px;
    position: relative;
}

.hamburguer {
    width: 20px;
    height: 15px;

    display: flex;

    flex-direction: column;
    justify-content: space-between;

    cursor: pointer;
}

.hamburguer span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
}

#nav-menu {
    position: fixed;
    top: 70px;
    right: 20px;

    width: 220px;
    background: black;
    padding: 20px;
    border-radius: 10px;

    display: none;
}

.botao-inicial {
    width: 90px;
    height: 90px;
}

/* Primeira pagina */

.inicio { 
    height: calc(100vh - 70px);
    justify-content: center;
}

main .inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    font-family: Alumni Sans Pinstripe;
    color: gray;
    font-size: 40px;
    gap: 25px;
}

.port {
    color: white;
    font-family: arial;
    font-size: 50px;
    text-shadow: 0 0 6px cyan;
}

.folio {
    color: cyan;
    font-family: arial;
    font-size: 50px;
    text-shadow: 0 0 10px cyan;
}

.bem-vindo {
    
    letter-spacing: 5px;
    color: #888;
}

.profissao {
    letter-spacing: 5px;
    color: #888;
}

.botao-inicial {
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    display: flex;
    
    color: #ccc;
    font-family: Alumni Sans Pinstripe;
    font-size: 20px;
}

.botao-inicial:hover {
    color: cyan;
    border-color: cyan;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.4);
}

/* SOBRE MIM */

.sobremim h2 {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    max-width: 800px;
    margin: 40px auto 0 auto;
}

@media (min-width: 768px) {
    .about-container {
        flex-direction: row;
        gap: 200px;
    }
}

.foto-perfil {
    object-fit: cover;
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.informaçoes {
    color: white;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    gap: 10px;

    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.03);
}

.label {
    color: cyan;
    font-weight: bold;
}

.value {
    color: #ccc;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }
}

.sobre {
    color: white;
    font-family: arial;
    font-size: 60px;
    text-shadow: 0 0 5px cyan;
    display: inline-block;
    animation: leve 6s ease-in-out infinite;
}
  
.mim {
    color: cyan;
    font-family: arial;
    font-size: 60px;
    text-shadow: 0 0 5px cyan; 
    display: inline-block;
    animation: leve 6s ease-in-out infinite;
}

@keyframes leve {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(0);
  }
}


/* HABILIDADES */

main .habilidades {
    display: flex;
    background: transparent;
    align-items: center;
    flex-direction: column;
}

.sk {
    color: white;
    font-size: 60px;
    font-family: arial;
    text-shadow: 0 0 6px cyan;
}

.ills {
    color: cyan;
    font-size: 60px;
    text-shadow: 0 0 6px cyan;
    font-family: arial;
}



/* PROJETOS */

main .projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: transparent;
}


.pro {
    color: white;
    font-size: 60px;
    text-shadow: 0 0 6px cyan;
    font-family: arial;
}

.jetos {
    color: cyan;
    font-size: 60px;
    text-shadow: 0 0 6px cyan;
    font-family: arial;
}

.cartoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.habilidades {
    gap: 50px;
}

@media (min-width: 768px) {
    .habilidades {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 120px;
    }
}

.carta {
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid rgba(255,255,255,0.2);
    transition: 0.3s;
}

.carta:hover {
    color: cyan;
    border-color: cyan;
    box-shadow: 0 0 10px rgba(0,255,255,0.3);
    transform: translateY(-3px);
}

.frontend, .backend {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .habilidades {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 100px;
    }

    .frontend, .backend {
        width: 300px;
    }
}

.frontend, .backend {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    border-radius: 10px;

    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255,255,255,0.1);

    transition: 0.3s;
}

.frontend:hover, .backend:hover {
    border-color: cyan;
    box-shadow: 0 0 15px rgba(0,255,255,0.2);
}

.titulo-back, .titulo-front {
    color: #00ffff;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

/* CONTATOS */

#contact .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-contato {
    text-align: center;
}

.con {
    color: white;
    font-size: 60px;
    text-shadow: 0 0 6px cyan;
    font-family: arial;
}

.tatos {
    color: cyan;
    font-size: 60px;
    text-shadow: 0 0 6px cyan;
    font-family: arial;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
}

.redes img {
    transition: 0.3s;
    cursor: pointer;
}

.redes img:hover {
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px cyan);
}

body {
    margin: 0;
    padding: 0;

    color: white;
    font-family: Roboto, sans-serif;

    background: linear-gradient(
        180deg,
        #050505 0%,
        #0a0a0a 40%,
        #0d0d0d 70%,
        #000000 100%
    );
}
